<nav class="clearfix">
	<ul>
		<li>
			<a href="/">Home</a>
		</li>
		<!--
		<li>
			<a href="home">Games</a>
		</li>
		<li>
			<a href="about">About</a>
		</li>
		-->
	<% if current_user %>
		<%= render '/layouts/logged_in_profile_nav' %>
	<% else %>
		<%= render '/layouts/logged_out_profile_nav' %>
	<% end %>
	</ul>
</nav>

